<div class="style fade-in">
  <div class="clearfix mxn9">
    <div class="col-3 px10 mx-auto">
        <h1>are you bookish?</h1>
        <p>if you identify with this word, you know the importance of the local bookstore. this is where we find ourselves really experiencing the power of a good book. why not support them more? <br />with bookish - you can.</p>
        <button type="button"><h2><%= link_to "Sign in with Google", "/auth/google_oauth2" %></h2></button>
    </div>
  </div>
</div>
