@import "partials/fonts.scss";
@import "partials/colors.scss";

body {
  font-family: 'Roboto Slab', serif;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
}
h2 {
  font-family: $font-main;
  text-align: center;
}
ul nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav {
  background-color: $mild_grey;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 14px 16px;
    text-decoration: none;
}
